/*===[I-330 POST CSS]========================================================|*/


/* The body of the post */
.blog {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  align: center;
  width: 50%;
}

/* Images within the post */
.blog_img {
  text-align: center;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Post Title */
.blog_title {
  margin-top: -15px;
}

/* Post byline */
.blog_byline {
  margin-top: 20px;
  font-size: 0.75rem;
}

/* Post text */
.blog_content {
  margin-top: -10px;
  text-align: left;
  margin-top: 0px;
}

.code_block{
  text-align: left;
  margin-left: 0px;
  border-style: solid;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  width: auto;
}

/* CSS changes for devices under 900px in width*/
@media (max-width: 900px) {

  .blog {
    margin-left: 0;
    margin-right: 0;
    padding-left: 5vw;
    padding-right: 0;
    width: 90%;
  }
  
  /* Stuff with the optionalstuff ID */
  div #optionalstuff {
    
  }

}

/* CSS changes for devices under 550px in width*/
@media (max-width: 550px){

  /* Remove items with ID */
  div #optionalstuff {
    display: none;
  }
}

